@page "/"
@using HelloBlazor.Data

<h1>Hello, Blazor!</h1>

<SurveyPrompt Title="Blazor Server Demo" />

<ul>
    <li>CRUD operation                                  </li>
    <li>ChartJs                                         </li>
    <li>Authentication and Authorization with Identity  </li>
    <li>Logging with Serilog                            </li>
    <li>Unit test case for Blazor component with BUnit  </li>
    <li>Realtime Chat with SignalR                      </li>
</ul>